DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/hexarelation?schema=public"
NEXTAUTH_SECRET="your-secret"
NEXTAUTH_URL="https://hxc.hexa-relation.com"
NEXT_PUBLIC_BASE_URL="https://hxc.hexa-relation.com"

# Stripe Configuration
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_PUBLIC_KEY="pk_test_..."
